

a
{
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}



body
{
    font-family: 'Raleway';
    background-color: #73835b;
    color: #E2E3BF;
}

h1,h2,h3,h4.h5.h6
{
    font-family: 'Lora';
}